<% layout('layouts/boilerplate') -%>

    <div class="jumbotron mt-5">
        <h3 class="lead">The bitcon price for buying is <%=Number(buy)%>$</h3>  
        <h3 class="lead">The bicton price for selling is <%=Number(sell)%>$</h3>  
     </div>
