<% layout('layouts/boilerplate') -%>
<form action="/deposit" method="POST">
	<div>
		<label for="username">Amount:</label>
		<input type="number" name="amount" placeholder="Ex: 50" required>
	</div>
	<button>Deposit</button>
</form>