<% layout('layouts/boilerplate') -%>
    
<div class="jumbotron mt-5">
    <h1 class="display-4">Hello, Eduzz!</h1>
    <p class="lead">This is my simple bitcoin website, I hope you guys like it.</p>
    <hr class="my-4">

  </div>