<% layout('layouts/boilerplate') -%>

    <div class="jumbotron mt-5">
        <h3>Purchases</h3>
        <hr class="my-4">
        <% purchases.forEach(function(purchase){ %>
            <h5>Date: <%= moment(purchase.date).format('l') %></h5>
            <h5>The amount of bitcoin: <%= purchase.bitcoin %></h5>
            <h5>Bought for:<%= purchase.boughtFor %>R$</h5>
            <h5>Bitcoin Value in the moment of the purchase: <%= purchase.bitcoinValue %>$</h5>
            
            <hr>
        <% }) %>
    
      </div>
